@media only screen and (max-width: 770px) {
  .logo{
    padding: 50px 0 50px 50px;
  }
  .social{
    top: 50px;
    right: 50px;
  }
  #content{
    padding: 50px;
  }
}

@media only screen and (max-width: 480px) {
  #header{
    position: relative;
  }
  .logo{
    padding: 20px 0 80px 20px;
    position: static;
  }
  .social{
    top: 100px;
    left: 0;
  }
  #content{
    padding: 20px;
  }
  .copy{
    p:first-child{
      font-size: 1.4em;
      text-align: center;
    }
    p:last-child{
      text-align: center;
    }
  }
  .instructions, .form-caption{
    text-align: center;
    padding-right: 0;
  }
  .dz-message{
    span{
      font-size: 1.3em !important;
    }
  }
}