#header
  .logo RASTERFY
    .credits
        | brought to you by <a href="http://twitter.com/darrownet" target="_blank">@darrownet</a> and <a href="http://twitter.com/KyleONeill88" target="_blank">@KyleONeill88</a>.
    .social
      .twitter
        a(href="http://twitter.com/rasterfy", target="_blank")
      .github
        a(href="https://github.com/darrownet/htmlimgfuckyeah", target="_blank")
  div(ng-include='"components/navbar/navbar.html"')