$icon-font-path: "/client/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/client/bower_components/font-awesome/fonts";

$main-color: #3399ff;
$link-color: #666666;